body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
    
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    box-sizing: border-box;
  }
  
  .lightbox {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
  }
  .imgFull{
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .container {
    padding: 20px;
  }
  
  .labelImg {
    background-color: rgb(255,255,255);
    padding:5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(255,255,255);
    cursor: pointer;
  }
  
  .labelImg:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(0, 0, 0, .2);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }
  
  .footer {
    display: block;
    margin-top:30px;
    font-size:24px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
  }
  
  .footer a {
    display: block;
    text-decoration: none;
  }
  
  .fb {
    color: rgb(59,89,152);
  }
  
  .twitter {
    color: rgb(51,204,255);
  }
  
  .notice {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(255,255,255);
  }
  
  .footer a:hover {
    font-size: 26px;
  }

// Preloader
.spinner {
	position: fixed;
	top: 0;
	left: 0;
	background: #222;
	height: 100%;
	width: 100%;
	z-index: 11;
	margin-top: 0;
	color: #fff;
	font-size: 1em;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
  
  .lightbox {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
  }
  .imgFull{
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .container {
    padding: 20px;
  }
 div.galeria {
    height: 360px;
 }
  
  .labelImg {
    background-color: rgb(255,255,255);
    padding:5px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(255,255,255);
    cursor: pointer;
  }
  
  .labelImg:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(0, 0, 0, .2);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }
 ---------------------------------------------------
nav{
    height: 6rem;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
}

.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #000000;
}
.nav-links li a:hover {
    color: #000000;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


.hamburger div{
    width: 30px;
    height:3px;
    background: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 319px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    li>a {
        color: #000000;
        box-sizing: border-box;
        font-size: 20px;
    
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}




.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

  .formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
  }
  .formulario__titulo {
    text-align: center;
    margin: 40px;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
  }
  .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__input {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
  }
  .formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
  }
  .formulario__input:focus + .formulario__label{
    margin-top: -135px;
  }
  .formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgb(0, 0, 0);
    transition: all 0.2s;
  }
  .formulario__submit {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  .fijar {
    margin-top: -135px;
  }
  .foto-texto{
    height:100vh;
    width:100%;
    position:relative;
  }
  .texto{
    position: relative;
    bottom:0;
    width:100%;
    padding:15px 60px;
    color: dimgray;
    font-family: monospace; 
    font-size: 15px;
    
  }
  .titulo-foto-texto-embaixo{
    font-size:1.5em;
    font-weight:bold;
   
  }
  :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }

    .texto{
        position: relative;
        bottom:0;
        width:100%;
        padding:15px 60px;
        color: dimgray;
        font-family: sans-serif ; 
        font-size: 20px;
        
      }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

 